# Mac
*.DS_Store

# Models & Figures
src/saved_models
src/saved_figs

# Other Images
All_Images/
Images_Resized/
Images_Resized_2/
GAN/
GANImages/
Max/
Images_Resized_3/
Images/Masked/
Images/Resized/

# PyCharm
.idea/